---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="David" description="Acerca de mi" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}

			.profes{
				list-style-type: none;
			}

			a {
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>La aventura autodidacta</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="/assets/setup.jpg"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					Soy mexicano 🇲🇽, tengo 30 años, me encanta aprender por mi cuenta, <strong>fue en el 2016</strong> trabajando en todo y nada
					cuando conocí el mundo web y la programación, supe en ese momento que esto era algo serio, lo que empezó como un hobbie ahora
					se ha convertido en algo especial a mi vida, me ha motivado a romper mis limites y a mejorar dia con dia.
				</p>
				<p>
					He trabajado en proyectos para licencias como Jr NBA League, TechZone, XBOX, e Immortal Gaming éstas últimas en la posición de diseñador web en <a href="https://ginga.com.mx" style="color: black; font-weight: bold;">Ginga Group</a>.
					En mis proyectos he utilizado el stack web (HTML, CSS, JS), React, PHP y un poco de Astro, soy completamente autodidacta, es decir que la mayor parte
					de las tecnologías las he aprendido ( y sigo...) por mi cuenta.
				</p>
				<p>
					Otro mundo que me fascina es el de los videojuegos, raro ¿no?, el anime, y obviamente la comida mexicana <s>¡los tacos!</s>.
					Me encanta jugar videojuegos como The Last Of Us, Warzone, Assasin's Creed y los juegos de arcade de mi infancia, hay muchos en la lista.
					La musica es una mis pasiones secretas, con el bajo y la bateria me gusta hacer ruido (yo lo llamo música ¿ok?).
				</p>
				<p>
					<s>Me encantaría hacer streams de videojuegos o de programación, pero eso será mas adelante...</s> ¡Un hobbie que se convirtió en realidad!, puedes seguirme en mi canal de 👉🏼 <a href="https://twitch.tv/dave_bin" style="color: purple; font-weight: bold;">Twitch</a>, donde me dedico a aprender cosas nuevas y divertirme un poco con la comunidad, también me encuentro aprendiendo mucho de algunos creadores de contenido,
					por eso, he dedicado este pequeño espacio para ellos, ya que de manera directa, forman parte de mi vida y de mi formación como desarrollador web.
					¡Gracias!

					<ul class="profes">
						<li>
							<a href="https://www.twitch.tv/bluuweb">
								1. Bluuweb
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/c/HolaMundoDev">
								2. Nicolas Schurmman
							</a>
						</li>
						<li>
							<a href="https://aprendible.com/">
								3. Aprendible
							</a>
						</li>
						<li>
							<a href="https://fernando-herrera.com/">
								4. Fernando Herrera
							</a>
						</li>
						<li>
							<a href="https://codigoconjuan.com/">
								5. Código con Juan
							</a>
						</li>
					</ul>
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
