---
import '../styles/global.css';
const {
	name = 'Dave_: Mi mundo web',
	about = 'Hola, mi mundo web',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={about} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{name}</title>

<link rel="icon" type="image/svg+xml" href="/assets/logo1.png" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
	rel="stylesheet"
/>
